/build/.cmake
/build/*CMake*
/build/.sconsign.dblite
/test
/.vscode
/ArabicString/ArabicString.os
/ArabicString/ArabicString.o
/ArabicString/ArabicString.dll
/native/src/*.os
/native/src/*.dll
/native/src/*.o
